.App {
  text-align: center;
  background-color: #ebe3e9;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ebe3e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.forty{
 
   background: url('bk.jpg');

 
    background-size:cover;
   background-repeat: no-repeat;
   background-position: center;
    height:100%;
    width:100%;
  
 
  position: absolute;
  z-index: 1;
  top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;

}

.tittle{
  width: 15%;
  margin: 0 auto;
}

.forty h1{
  font-family: 'Sacramento', cursive;
  color: #6c4c64;
  font-size: 70px;
  font-weight: 100;
  padding: 0px;
  margin-top: 125px;
  margin-bottom: 45px;


}

.caro{
  font-family: 'Sacramento', cursive;
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.carito{
  background: url('caro.png');

 
  background-size:cover;
 background-position: center;
 background-repeat: no-repeat;
 height: 138px;
 width: 133px;
 text-align: center;
 top: -84px;
 position: absolute;
 top: -243px;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
}

.contact li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.contact ul{
  
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

.message{
  
  padding: 50px;
 
    z-index: 3;
    position: relative;
    font-size: 10px;

}


.contactitem{
  z-index: 10;
  position: relative;
  cursor: pointer;
  margin-top: 50px;
  color: #bd8d8a;
}

